<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<html ng-app="app">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <head>
        <meta charset="utf-8">
    </head>
    <body ng-controller="HomeCtrl">
      <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="#/home">
              <img src="/src/assets/img/logo.png">
            </a>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="nav-right">
              <div class="hide-lg">
                <a href="#/cart">
                  <span class="sumo-label"><span class="glyphicon glyphicon-shopping-cart"></span>RM {{cartTotal}}</span>
                </a>
              </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="main" ng-view></div>
    </body>
</html>