<div class="content">
  <h3>{{cartItem.name}}</h3>
  <p>{{cartItem.desc}}, {{cartItem.quantity}} {{cartItem.unit}}</p>
</div>
<div class="row line"></div>
<h4 class="footer">
  <span>RM {{cartItem.price}}</span>
  <span class="pull-right glyphicon glyphicon-trash" ng-click="deleteCartItem(cartItem.id)"></span>
</h4>