<div class="container-fluid cart">
	<div class="well cart-total">
        <div>
          <span class="sumo-label">TOTAL: RM {{cartTotal}}</span>
          <a class="btn btn-default">Checkout</a>
        </div>
    </div>
  	<div class="well cart-item" ng-repeat="cartItem in cart">
		<sumo-cartitem info="cartItem"></sumo-cartitem>
	</div>
</div>
<h3><a class="btn btn-primary btn-lg btn-all-product show-xs" href="#/products">All Products</a></h3>