<a href="#/shop/{{product.param}}">     
<div class="well cat-card" style="background: url('/src/assets/img/{{product.param}}.jpg'); background-size: cover; zoom: 1.25;">
	<span class="cat-label">{{product.category}}</h2>
</div>
</a>