<div class="banner">
  <div class="tag-line">
    <p class="lg-tag">Building Materials</p>
    <p class="sm-tag">Just a fingertip away</p>
  </div>
</div>
<div class="container">
  <div class="panel home-panel">
    <div class="panel-body">
      <div ng-repeat="product in products" class="col-sm-6 col-xs-12 cat-card">
        <sumo-category info="product"></my-customer>
      </div>
    </div>
  </div>
</div>