<form name="sumoform">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{orderItem.name}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group" ng-repeat="config in product.pricing_config">
      <label class="control-label col-sm-2" for="{{config.name}}">{{config.name}}</label>
      <div class="col-sm-10">
        <select id="{{config.name}}" name="orderInput" class="form-control" ng-model="order[config.name]" ng-change="updatePrice(orderItem.id)" required>
          <option ng-repeat="(key, value) in config.options" value={{key}}>{{value}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="quantity">quanity</label>
      <div class="col-sm-10">
        <input id="quantity" name="quantity" class="form-control" ng-model="order.quantity" ng-change="updatePrice(orderItem.id)" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="quantity">price</label>
      <label class="control-label col-sm-10">RM {{order.price}}</label>
    </div>
</div>
<div class="modal-footer">
  <span class="err-msg" ng-show="invalidForm()">Sila siapkan order anda.</span>
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="sumoform.$valid && placeOrder(orderItem.id, orderItem.name); sumoform.$valid && ok()">Ok</button>
</div>

</form>