<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-4 categories hide-xs">
      <div ng-repeat="product in products">
            <sumo-category info="product"></sumo-category>
      </div>
    </div>
    <div class="col-md-6 col-sm-8 items">
      <div ng-repeat="item in product.items">
        <div class="well">
          <div class="row">
            <div class="col-sm-8 col-lg-10">
              <span class="sumo-label">{{item.name}}</span>
            </div>
            <div class="col-sm-4 col-lg-2 buy-btn">
              <a class="btn btn-primary" ng-click="newOrder(item.id)">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 cart hide-xs hide-sm">
      <div class="well cart-total">
        <div class="row">
          <span class="col-lg-8 sumo-label">TOTAL: RM {{cartTotal}}</span>
          <div class="col-lg-4">
            <a class="btn btn-default">Checkout</a>
          </div>
        </div>
      </div>
      <div class="well cart-item" ng-repeat="cartItem in cart">
        <sumo-cartitem info="cartItem"></sumo-cartitem>
      </div>
    </div>
    <h3><a class="btn btn-primary btn-lg btn-all-product show-xs" href="#/products">All Products</a></h3>
  </div>
</div>