body {
	font-family: 'Ubuntu', sans-serif !important;
	background: rgb(240, 251, 251) !important;
}

.main{
	margin-top: 90px;
}

.navbar-brand img{
	zoom: 0.3;
    margin-top: -100px;
}

.navbar{
	height: 85px;
    background: rgb(41, 141, 156) !important;
    box-shadow: 0 1px 4px #333;
    border-radius: 0px !important;
    border-color: rgb(41, 141, 156) !important;
}

.well{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.panel{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	border: 0 !important;
}

.navbar-collapse{
	border-color: transparent !important;
}

.btn{
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.btn-primary{	
    color: rgba(255,255,255, 0.84) !important;
    background-color: #0CA2B5 !important;
}

.modal-content{
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
    border: none !important;
}

.form-control, .modal-content, .panel, .well, .btn{
	border-radius: 2px !important;
}

/*angular validation*/
.ng-invalid{
	border-color: #D60303 !important;
    box-shadow: 0px 0px 0.5px 0px #D60303 !important;
}

form.ng-invalid{
	border-color: transparent !important;
    box-shadow: none !important;	
}

.err-msg{
	color: #D60303;
	padding: 0 15px;
}



/*Personal*/
.nav-right{
	float: right;
    height: auto;
    min-height: 100%;
}

.nav-right span{
    color: #B9FFFF;
    padding: 0 10px;
}

.nav-right div{
	position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.tag-line{
	padding-top: 1.5%;
	text-align: center;
	color: azure;
}

.tag-line .lg-tag{
	font-size: 60px;
}

.tag-line .sm-tag{
	font-size: 35px;
}

.category-img{
	max-width: 100%;
	max-height: 100%;
}

.home-panel{
	margin-top: -150px;
}

.home-panel .panel-body{
	padding: 45px 15px 25px 15px
}

.banner{
	height: 400px;
	background-image: url("/src/assets/img/banner-backgroud.png");
    margin-top: -20px;
}

.cat-card{
	text-align: center;
}

.categories, .items, .cart{
	height: 100%;
    padding: 20px 50px !important;
}

.categories{
    box-shadow: 10px 0px 10px -10px #333;
}

.cart{
    box-shadow: -10px 0px 10px -10px #333;
}

.buy-btn{
	text-align: center;
}

.buy-btn .btn{
	width: 100%
}

.cart-item{
	padding: 0 19px !important;
}

.cart-item .line{
	min-height: 1px;
	border-top: 1px solid lightgrey;
}

.cart-item .content h3{
	margin-bottom: 0;
}

.cart-item .content p{
	font-size: 18px;
}

.cart-item .footer .glyphicon-trash{
	color: #0CA2B5;
	cursor: pointer;
}

.btn-all-product{
	position: fixed;
	width: 100%;
	bottom: 0px;
	box-shadow: 0 -1px 10px 0px #333 !important;
}

.cat-label{
	font-size: 25px;
	min-width: 140px;
    display: inline-block;
    background-color: rgba(11,10,10,0.15);
    color: azure;
}

.sumo-label{
	font-size: 25px;
}

.cart-total{
    background-color: #0CA2B5 !important;
    color: aliceblue;
    border: none !important;
}

.cart-total .btn{
	width: 100%;
}

.hide-lg{
	display: none;
}

@media (max-width: 1199px) { 
	.sumo-label{
		font-size: 20px;
	}

	.cat-label{    
		font-size: 20px;
	    min-width: 85px;
	}

	.categories, .items, .cart{
	    padding: 20px 25px !important;
	}

	.cart-total{
		text-align: center;
	}
}

/* Portrait tablet to desktop sm*/
@media (min-width: 768px) and (max-width: 979px){
	.hide-lg{
		display: block;
	}

	.hide-sm{
		display: none;
	}

	.cat-label{    
		font-size: 18px;
	    min-width: 80px;
	}

	.sumo-label{
		font-size: 18px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 767px) { 
	.hide-lg{
		display: block;
	}

	.hide-sm{
		display: none;
	}
}
 
/* Landscape phones and down xs*/
@media (max-width: 480px) { 
	.hide-lg{
		display: block;
	}
	
	.hide-xs{
		display: none;
	}

	.modal-content {
		min-height: 100%;
	}

	.modal-footer {
		position: absolute;
		min-width: 100%;
		bottom: 0;
	}

	.categories, .items, .cart{
	    padding: 0px 15px !important;
	}

	.navbar{
		height: 70px;
	}

	.navbar-brand img{
		zoom: 0.2;
	}
}